@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "nuGundam";
    default: true;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(20% 0.042 265.755);
    --color-base-200: oklch(27% 0.041 260.031);
    --color-base-300: oklch(37% 0.034 259.733);
    --color-base-content: oklch(92% 0.013 255.508);
    --color-primary: oklch(92% 0.013 255.508);
    --color-primary-content: oklch(27% 0.041 260.031);
    --color-secondary: oklch(39% 0.141 25.723);
    --color-secondary-content: oklch(97% 0.014 343.198);
    --color-accent: oklch(42% 0.095 57.708);
    --color-accent-content: oklch(92% 0.013 255.508);
    --color-neutral: oklch(37% 0.044 257.287);
    --color-neutral-content: oklch(98% 0.003 247.858);
    --color-info: oklch(60% 0.126 221.723);
    --color-info-content: oklch(98% 0.019 200.873);
    --color-success: oklch(60% 0.118 184.704);
    --color-success-content: oklch(98% 0.014 180.72);
    --color-warning: oklch(64% 0.222 41.116);
    --color-warning-content: oklch(98% 0.016 73.684);
    --color-error: oklch(58% 0.253 17.585);
    --color-error-content: oklch(96% 0.015 12.422);
    --radius-selector: 2rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.28125rem;
    --size-field: 0.28125rem;
    --border: 1.5px;
    --depth: 0;
    --noise: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Logo styling */
.logo {
    height: 48px;
    width: auto;
    object-fit: contain;
}

.logo-large {
    height: 64px;
    width: auto;
    object-fit: contain;
}

/* Set global default font to Geist (via Tailwind's font-sans) */
@layer base {
    html,
    :root {
        font-family: "Geist";
    }
}
